*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navcontainer {
  /*background-color: rgba(0, 0, 0, 0.178);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(10, 10, 10, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: fixed;
  padding: 1rem 4rem;
}

.socials i {
  margin: 0 10px;
  color: white;
  padding: 0 5px;
}


.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.menu-item {
  margin: 0 5px;
}

.menu-item a {
  text-decoration: none;
  color: white;
  /*border-bottom: 4px solid rgb(187, 31, 31);*/
  padding: 0 5px;
}

.hero {
  font-family: 'Roboto', sans-serif;
  background-image: url(../src/assets/bg.png);
  background-size: cover;
  height: 100vh;
}

.heroitems {
  position: relative;
  width: 70%; 
  height: 100%;
  margin: 0 auto;
}

.herotext.red{
  position: absolute;
  top: 30vh;
  left: 0;
  color: rgb(204, 17, 17);
  font-size: calc(100vh/8);
  line-height: calc(100vh/10);
}

.herotext.white{
  position: absolute;
  top: 50vh;
  left: 30vh;
  color:rgb(238, 227, 220);
  font-size: calc(100vh/12);
  line-height: calc(100vh/12);
}

.herotext.red.bottom {
  top: 50vh;
}

.blackbox {
  position: absolute;
  background-color: rgb(32, 32, 32);
  color: rgb(240, 240, 240);
  width: calc(70vh/2);
  height: calc(55vh/2);
  padding: 3rem 3rem;
  bottom: 220px;
  right: 0;
  box-shadow: 2px 2px 20px 2px black;
}

.blackbox h1 {
  color:rgb(187, 31, 31);
  margin-bottom: 20px;
}

.blackbox p {
  font-size: 12px;
  margin-bottom: 20px;
}

.beigebox {
  position: absolute;
  background-color: rgb(238, 227, 220);
  color: rgb(46, 46, 46);
  width: calc(70vh/2);
  height: calc(55vh/2);
  padding: 3rem 3rem;
  bottom: 20px;
  right: 20rem;
  box-shadow: 2px 2px 20px 2px black;
}

.beigebox h1 {
  color:rgb(187, 31, 31);
  margin-bottom: 20px;
}

.beigebox p {
  font-size: 12px;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 35px;
  border-radius: 30px;
  background: none;
}

.btn.light {
  border: 2px solid rgb(240, 240, 240);;
  color: rgb(240, 240, 240);
}

.btn.dark {
  border: 2px solid rgb(58, 58, 58);
  color: rgb(46, 46, 46);
}